<%- include('partials/_header'); -%>
  <br>
  <div class="container">
    <div class="row">
      <% if (data) { %>
        <%- include('partials/_cardsCharacters'); -%>
      <% } else{ %>  
        <%- include('partials/_alert'); -%>
     <% } %>
    </div>
  </div>
  <%- include('partials/_footer'); -%>