<div class=" alert alert-primary d-flex align-items-center" role="alert">
    <div class="col-md-6 ">
        <img class="rounded" src="https://i.pinimg.com/originals/9f/88/e2/9f88e21bc941c619a6ffa598b3e1ca61.gif"
            alt="noFoundAnime">
    </div>
    <div class="col-md-6 align=right">
        <p> No se encontró anime con este nombre :(</p>
    </div>
</div>