<div class=" alert alert-primary d-flex align-items-center" role="alert">
    <div class="col-md-6 ">
        <img class="rounded" src="image/noFound.gif"
            alt="noFoundAnime">
    </div>
    <div class="col-md-6 text-center">
        <h1>No se encontró anime con ese titulo :(</h1> 
    </div>
</div>